/* https://stackoverflow.com/a/41462592 */
.cauto          { cursor: auto; }
.cdefault       { cursor: default; }
.cnone          { cursor: none; }
.ccontext-menu  { cursor: context-menu; }
.chelp          { cursor: help; }
.cpointer       { cursor: pointer; }
.cprogress      { cursor: progress; }
.cwait          { cursor: wait; }
.ccell          { cursor: cell; }
.ccrosshair     { cursor: crosshair; }
.ctext          { cursor: text; }
.cvertical-text { cursor: vertical-text; }
.calias         { cursor: alias; }
.ccopy          { cursor: copy; }
.cmove          { cursor: move; }
.cno-drop       { cursor: no-drop; }
.cnot-allowed   { cursor: not-allowed; }
.call-scroll    { cursor: all-scroll; }
.ccol-resize    { cursor: col-resize; }
.crow-resize    { cursor: row-resize; }
.cn-resize      { cursor: n-resize; }
.ce-resize      { cursor: e-resize; }
.cs-resize      { cursor: s-resize; }
.cw-resize      { cursor: w-resize; }
.cns-resize     { cursor: ns-resize; }
.cew-resize     { cursor: ew-resize; }
.cne-resize     { cursor: ne-resize; }
.cnw-resize     { cursor: nw-resize; }
.cse-resize     { cursor: se-resize; }
.csw-resize     { cursor: sw-resize; }
.cnesw-resize   { cursor: nesw-resize; }
.cnwse-resize   { cursor: nwse-resize; }
